# Python 관련
__pycache__/
*.py[cod]
*.so

# Jupyter notebook 체크포인트
.ipynb_checkpoints/

# 가상환경
venv/
.env/

# 로그 및 캐시
*.log
*.out
*.tmp
*.bak
.cache/
*.swp

# 데이터/모델 파일
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.jpg


# 대용량 데이터 디렉토리
data/
datasets/
output/
results/
checkpoints/
logs/
dogs-vs-cats/
vis_utils/

# OS/툴 관련
.DS_Store
Thumbs.db

# VS Code 설정
.vscode/

# SSH 키 등 민감정보
*.pem
*.key
